<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.RSen.Commandr" >


    <uses-permission android:name="net.dinglisch.android.tasker.PERMISSION_RUN_TASKS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.mohammadag.googlesearchapi.permission.ACCESS_GGOGLE_SEARCH_API"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />


    <permission
        android:name="com.RSen.Commandr.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.RSen.Commandr.permission.C2D_MESSAGE" />
    <uses-feature android:name="android.hardware.camera.front" android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="Commandr" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".core.NoteToSelfActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:label="Commandr"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="com.google.android.gm.action.AUTO_SEND" />
                <action android:name="android.intent.action.SEND" />

                <data android:mimeType="*/*" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.google.android.voicesearch.SELF_NOTE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".builtincommands.FlashlightActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".builtincommands.ReadUnreadGmailActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".ui.activity.TaskerActivity"
            android:label="Tasker Commands"
            android:parentActivityName=".ui.activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ui.activity.MostWantedCommandsActivity"
            android:label="@string/title_activity_most_wanted_commands"
            android:parentActivityName=".ui.activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.RSen.Commandr.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activity.VotingActivity"
            android:label="Command Voting"
            android:parentActivityName=".ui.activity.MostWantedCommandsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.RSen.Commandr.MostWantedCommandsActivity" />
        </activity>

        <meta-data
            android:name="apptentive_api_key"
            android:value="0a6e6c1425cb7623070cc2552449f7f9a3794eec8c7fc78ad17aa2098d0d5d15" />

        <activity
            android:name="com.apptentive.android.sdk.ViewActivity"
            android:theme="@style/MyApptentiveTheme" />

        <receiver android:name="com.apptentive.android.sdk.comm.NetworkStateReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".util.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.RSen.Commandr" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".ui.activity.SetupActivity"
            android:label="Setup Activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <service
            android:name=".util.TTSService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".core.MyAccessibilityService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE" >
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/serviceconfig" />
        </service>

        <activity
            android:name=".builtincommands.PlayPlaylistActivity"
            android:label="@string/title_activity_play_playlist"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".builtincommands.RootCommandActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".builtincommands.ScreenBrightnessActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- This is the "edit" Activity. Note that Locale will reject plug-in Activities for the following reasons: - Missing "android:label=[...]" - Missing "android:icon=[...]" - The Activity isn't exported (e.g. android:exported="false") - The Activity isn't enabled (e.g. android:enabled="false") - The Activity requires permissions not available to Locale -->

        -
        <activity
            android:name=".tasker.EditActivity"
            android:exported="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/tasker_edit_activity_label"
            android:theme="@style/Theme.AppCompat.Light.Dialog" >

            <!-- this Intent filter allows the plug-in to be discovered by Locale -->

            -
            <intent-filter>
                <action android:name="net.dinglisch.android.tasker.ACTION_EDIT_EVENT" />
            </intent-filter>
        </activity>

        <!-- This is the "query" BroadcastReceiver. Note that Locale will reject plug-in BroadcastReceivers for the following reasons: - The BroadcastReceiver isn't exported (e.g. android:exported="false") - The BroadcastReceiver isn't enabled (e.g. android:enabled="false") - The BroadcastReceiver requires permissions not available to Locale - There are multiple BroadcastReceivers for com.twofortyfouram.locale.intent.action.QUERY_CONDITION -->

        -
        <receiver
            android:name=".tasker.QueryReceiver"
            android:exported="true"
            android:process=":background" >

            <!-- this Intent filter allows the plug-in to discovered by Locale and be queried -->

            -
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.QUERY_CONDITION" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".builtincommands.TakePictureActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen"
            android:label="@string/title_activity_take_picture" >
        </activity>
        <activity android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
        <activity
            android:name=".ui.activity.DonationsActivity"
            android:label="Donations"
            android:parentActivityName=".ui.activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.RSen.Commandr.MainActivity" />
        </activity>
        <service android:name=".core.WearListenerService" >
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>
        <receiver android:enabled="true" android:exported="true" android:name=".core.GoogleXposedReceiver" >
            <intent-filter>
                <action android:name="com.mohammadag.googlesearchapi.NEW_SEARCH" />
            </intent-filter>
        </receiver>
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="C" />
        <meta-data
            android:name="xposedminversion"
            android:value="30" />
        <meta-data android:name="com.crashlytics.ApiKey" android:value="eb7953bfff80cd7f28240687400a7a7e5d6da75f"/>
    </application>

</manifest>
